.singleUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    padding: 0 5rem;
}

.singleUser-btn {
    background-color: #ffdbdb;
    border: 1px solid ;
    border-radius: 25px;
    width: 12rem;
    height: 40px;
    font-size: 1.3rem;
}

.singleUser-btn:hover {
    box-shadow: 3px 3px 3px 3px darkred;
    font-size: 1.5rem;
    background-color: khaki;
}
