.user {
    display: flex;
    justify-content: space-between;
    row-gap: 1rem;
}

.user-btn {
    background-color: transparent;
    width: 8rem;
    height: 2rem;
    font-family: Georgia, serif;
    cursor: pointer;
    font-size: 1rem;
}

.user-btn:hover {
    color: darkred;
}
